nav {
	float: right;
	display: flex;
	align-items: center;
	justify-content: center;
}

.left {
	animation-name: left;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	font-size: 1.75em;
	color: #ba324f;
}

@keyframes left {
	0% {
		transform: translateX(-10px);
	}

	50% {
		transform: translateX(-16px);
	}

	100% {
		transform: translateX(-10px);
	}
}

nav a {
	text-decoration: none;
	font-size: 1.5rem;
	font-family: 'Montserrat';
	padding: 20px;
	color: #ba324f;
}

header {
	width: 100%;
	height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	/*align-content: center;*/
	/*background: linear-gradient(45deg, rgba(128,147,241,1), rgba(186,50,79,1));*/
}

header h1 {
	font-size: 8rem;
	line-height: 10rem;
	font-family: 'Bellefair';
	text-align: center;
	color: #FE5F55;
	/*background-color: pink;*/
}

.animate {
	/*background-color: yellow;*/
	display: flex;
	justify-content: center;
}

.ibox {

	height: 5px;
	width: 5px;
	background-color: black;
	margin: 0 10px;
	animation-name: bounce;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	border-radius: 50%;
}

@keyframes bounce {
	0% {
		transform: translateY(0px);
	}
	
	50% {
		transform: translateY(5px);
	}

	100% {
		transform: translateY(0px);
	}
}

.animate div:nth-child(1) {
	background-color: #016FB9;
}

.animate div:nth-child(2) {
	background-color: #FF9505;
}

.animate div:nth-child(3) {
	background-color: #7FB800;
}

.animate div:nth-child(4) {
	background-color: #FFB400;
}

.animate div:nth-child(5) {
	background-color: #909CC2;
}

.animate div:nth-child(6) {
	background-color: #F9AB55;
}

.animate div:nth-child(7) {
	background-color: #BEB7A4;
}

.animate div:nth-child(8) {
	background-color: #FECDAA;
}

.animate div:nth-child(9) {
	background-color: #725752;
}

.animate div:nth-child(10) {
	background-color: #BB9F06;
}

.gallery {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(12, 1fr);
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	padding: 20px;
}

.img-container1 {
	grid-area: 1 / 1 / span 4 / span 4;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
}

.img-container2 {
	grid-area: 1 / 5 / span 4 / span 4;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
}

.img-container3 {
	grid-area: 1 / 9 / span 4 / span 4;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
}

.img-container4 {
	grid-area: 5 / 1 / span 4 / span 4;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
}

.img-container5 {
	grid-area: 5 / 5 / span 4 / span 4;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
}

.img-container5 img {
	height: 47.3%;
}

.img-container6 {
	grid-area: 5 / 9 / span 4 / span 4;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
}

.img-container7 {
	grid-area: 9 / 1 / span 4 / span 4;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
}

.img-container8 {
	grid-area: 9 / 5 / span 4 / span 4;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
}

.img-container9 {
	grid-area: 9 / 9 / span 4 / span 4;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
}

img {
	width: 70%;
}

.img-text h1 {
	text-align: center;
	font-size: 2rem;
	line-height: 3rem;
	font-family: 'Bellefair';
	color: #6969B3;
}

.img-text p {
	font-family: 'Montserrat';
	font-size: 1.25rem;
	line-height: 1.5rem;
}