/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}











.container {
  display: grid;
  grid-template-rows: 768px 1fr 300px;
  font-family: Roboto;
  /*background-color: #F2EAE8;*/
  background-color: #ffffff;
}

/*Header*/

header {
  display: grid;
  grid-template-rows: 68px 700px;
  background-image: url("bg3.jpg");
  background-position: left;
  /*border: 4px solid black;*/
}

/*Navagation*/

.navigation {
  display: grid;
  grid-template-columns: 50% 50%;
}

.logo {

  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 25px;
  color: #131116;
}

.logo img {
   width: 10%;
  height: 10%;
}

nav {
  font-family: 'Montserrat';
}

ul {
  list-style-position: inside;
  display: flex;
  width: 80%;
  float: right;
  justify-content: center;
}

.menu-items {
  font-size: 20px;
  padding: 24px;
  text-decoration: none;
  display: inline-block;

}

.menu-items a {
  padding: 10px;
  border: 2px solid #EDF7F6;
  text-decoration: none;
  background-color: rgba(237, 247, 246, .5);
  color: #250001;
}

.menu-items a:hover {
  background-color: #250001;
  color: #EDF7F6;
  border-color: #250001;
}


/*Jumbotron*/

.jumbotron {
  display: flex;
  align-items: center;
}

.title {
  width: 100%;
}

.heading {
  font-family: 'Montserrat';
  font-size: 9em;
  color: #250001;
  /*color: #320A11;*/
  /*color: #C7EBF0;*/
  padding: 20px;
}

.para {
  /*background-color: rgba(237, 247, 246, .25);*/
  width: 75%;
  /*color: #131116;*/
  color: #EDF7F6;
  font-size: 200%;
  padding-left: 30px;
  font-family: "Open Sans";
}





main .box {
  width: 100%;
  /*border-top: 1px solid grey;*/
}

.a {
  display: flex;
  flex-direction: row;
  font-family: 'Montserrat';
  margin-bottom: 100px;
  margin-top: 100px;
}

.a p {
  font-size: 175%;
  padding: 40px;
  line-height: 1.25em;
  width: 50%;
}

.a p .first-word {
  font-size: 200%;
}

.b {
  margin-bottom: 100px;
}

.rules-heading {
  width: 100%;
  text-align: center;
  font-size: 225%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.rules-heading h1 {
  font-family: 'Bellefair';
  padding: 20px;
  color: #6B212F;
}

.rules-heading .underline {
  background-color: #6B212F;
  width: 18%;
  height: 2px;
}

.rules {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  /*grid-template-rows: repeat(2, 50%);*/
}

.rule {
  /*display: inline-block;*/
  /*max-width: 50%;*/
  padding: 40px;
  /*background-color: blue;*/
  align-items: center;
}

.rule h1 {
  font-family: 'Bellefair';
  font-size: 200%;
  line-height: 2em;
  text-align: center;
  color: #5C4682;
}

.rule p {
  font-size: 160%;
  font-family: Montserrat;
  line-height: 1.25em;
  text-align: left;
}




/*Footer*/

footer {
  /*background-color: #e4e1cd;*/
  height: 100%;
  border-top: 2px solid #a4a4a4;
}

.contact {
  display: flex;
  float: left;
  width: 50%;
  height: 100%;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.contact p {
  font-size: 175%;
  font-family: Roboto;
  line-height: 3em;
}

.contact a {
  font-family: "Open Sans";
  font-size: 150%;
  width: 25%;
  text-decoration: none;
  line-height: 2.5em;
  color: #a4a4a4;
}

.contact a:hover {
  color: #131116;;
}



.follow {
  display: flex;
  float: left;
  width: 50%;
  height: 100%;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.follow p {
  margin-top: 5px;
  font-size: 175%;
  font-family: Roboto;
  line-height: 3em;
}

.follow ul {
  font-family: "Open Sans";
}

.follow a {
  font-size: 175%;
  text-decoration: none;
  padding: 0 20px;
}

.follow li {
  height: 58px;
  width: 58px;
  text-align: center;
  line-height: 58px;
  border-radius: 100%;
  border: 1px solid #a4a4a4;
  color: #a4a4a4;
}

#f li:hover {
  border: 1px solid #3b5998;
  background-color: #3b5998; 
  color: #ffffff;
}

#inst li:hover {
  border: 1px solid #db4437;
  background-color: #db4437;
  color: #ffffff;
}

#tw li:hover {
  border: 1px solid #1da1f2;
  background-color: #1da1f2;
  color: #ffffff;
}