.container {
	display: grid;
	grid-row: repeat(3, 1fr);
}

.header {
	background-image: radial-gradient(rgba(255, 255, 255, .6), rgba(255, 255, 255, 1)),url("bg3.jpg");
	background-position: left;
	background-size: cover;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

.heading {
}

.heading h1 {
	font-family: Bellefair;
	font-size: 10em;
	color: #a4a4a4;
	animation-name: heading;
	animation-delay: 2.5s;
	animation-duration: 2s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;
}

@keyframes heading {
	0% {
		color: #a4a4a4;
	}

	100% {
		color: #8093f1;
	}
}

#heading-line {
	height: 2px;
	background-color: black;
	transform: scaleX(0);
	opacity: 0;
	animation-name: headline;
	animation-delay: 1s;
	animation-duration: 2s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;
}

@keyframes headline {
	0% {
		transform: scaleX(0);
		opacity: 0;
	}

	100% {
		transform: scaleX(1);
		opacity: 1;
	}
}

#quote {
	width: 50%;
	height: 25%;
	display: flex;
	margin-bottom: 10%;
}

#quote p {
	font-size: 1.75em;
	font-family: 'Montserrat';
	text-align: center;
	align-self: center;
	border-radius: 10px;
	padding: 20px;
	box-shadow: 0 3px 20px 2px #8093f1;
}

.scroll-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
}

.scroll-icon {
	font-size: 20px;
	font-family: 'Montserrat';
}

.down {
	animation-name: down;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

@keyframes down {
	0% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(6px);
	}

	100% {
		transform: translateY(0);
	}
}

/*Content*/

/*What section*/

.what {
	display: flex;
	flex-wrap: wrap;
	border-bottom: 2px solid #c5d1eb;
	padding-bottom: 2em;
}

.question {
	width: 100%;
	padding: 4em 0;
}

.question h1 {
	font-size: 2.5em;
	font-family: 'Bellefair';
	text-align: center;
	color: #8093f1;
}

#word1 {
	opacity: 0;
	transition: opacity 1s ease-in; 
}

#word2 {
	opacity: 0;
	transition: opacity 1s ease-in .5s; 
}

#word3 {
	opacity: 0;
	transition: opacity 1s ease-in 1s; 
}

#word1.showWord, #word2.showWord, #word3.showWord {
	opacity: 1;
}

.answer {
	width: 50%;
}

.a p, .b p {
	padding: 0 40px 40px 40px;
	font-size: 1.75em;
	font-family: 'Montserrat';
	line-height: 1.25em;
}

#p1 {
	opacity: 0;
	transition: opacity 1s ease-in 1.2s;
}

#p2 {
	opacity: 0;
	transition: opacity 1s ease-in 1.2s;
}

#p1.showPara, #p2.showPara {
	opacity: 1;
}

/*How section*/

.how {
}

.rules-heading {
	width: 100%;
	padding: 4em 0;
}

.rules-heading h1 {
	font-size: 2.5em;
	font-family: 'Bellefair';
	text-align: center;
	color: #8093f1; 
}

#w1 {
	opacity: 0;
	transition: opacity 1s ease-in;
}

#w2 {
	opacity: 0;
	transition: opacity 1s ease-in .4s;
}

#w3 {
	opacity: 0;
	transition: opacity 1s ease-in .8s;
}

#w4 {
	opacity: 0;
	transition: opacity 1s ease-in .4s;
}

#w5 {
	opacity: 0;
	transition: opacity 1s ease-in;
}

#w1.wShow, #w2.wShow, #w3.wShow, #w4.wShow,#w5.wShow {
	opacity: 1;
}

.rules-grid {
	display: grid;
	grid-template-columns: repeat(2, 50%);
	grid-template-rows: repeat(2, 50%);
	grid-row-gap: 30px;
	justify-items: center;
	padding: 20px;
}

.box {
	width: 95%;
	border-radius: 5px;
	transition: box-shadow 1s ease-in 6s;
}

.box.showShadow {
	box-shadow: 0 2px 5px 2px #deded8;
}

.box h1 {
	font-size: 2.5em;
	font-family: 'Bellefair';
	text-align: center;
	padding: 30px;
}

.box p {
	font-size: 1.5em;
	font-family: 'Montserrat';
	line-height: 1.25em;
	padding: 30px;
	opacity: 0;
	transition: opacity 1s ease-in 5.5s;
}

.box p.showDesc {
	opacity: 1
}

#rule1 {
	opacity: 0;
	color: #a4a4a4;
	background-color: transparent;
	transition: opacity .5s ease-in 1s, color 2s ease-in 1.5s, background-color 1s ease-in 3s;
}

#rule1.showRule {
	opacity: 1;
	color: #000000;
	background-color: #fcff4b;
}

#rule2 {
	opacity: 0;
	color: #a4a4a4;
	background-color: transparent;
	transition: opacity .5s ease-in 2s, color 2s ease-in 2.5s, background-color 1s ease-in 4s;
}

#rule2.showRule {
	opacity: 1;
	color: #000000;
	background-color: #72ddf7;
}

#rule3 {
	opacity: 0;
	color: #a4a4a4;
	background-color: transparent;
	transform: translateY(-9em);
	transition: opacity .5s ease-in 2.5s, color 2s ease-in 3s, background-color 1s ease-in 4.5s, transform 1s ease-in 5s;
}

#rule3.showRule {
	opacity: 1;
	color: #000000;
	background-color: #f4afab;
	transform: translateY(0);
}

#rule4 {
	opacity: 0;
	color: #a4a4a4;
	background-color: transparent;
	transform: translateY(-9em);
	transition: opacity .5s ease-in 1.5s, color 2s ease-in 2s, background-color 1s ease-in 3.5s, transform 1s ease-in 5s;
}

#rule4.showRule {
	opacity: 1;
	color: #000000;
	background-color: #ebd2b4;
	transform: translateY(0);
}

/*Gallery section*/

.gallery-nav {
	display: flex;
	flex-wrap: wrap;
}

.gallery-heading {
	width: 100%;
	padding: 4em 0;
}

.gallery-heading h1 {
	font-size: 2.5em;
	font-family: 'Bellefair';
	text-align: center;
	color: #8093f1;
}

.gallery-desc {
	width: 33.33%;
}

.gallery-desc p {
	font-size: 1.75em;
	font-family: 'Montserrat';
	line-height: 1.25em;
	padding: 40px;
}

.gallery-link {
	width: 33.33%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.gallery-link a {
	border: 2px solid #ba324f;
	padding: 20px;
	text-decoration: none;
	font-size: 1.75em;
	font-family: 'Montserrat';
	line-height: 1.25em;
	color: black;
}

.gallery-link a:hover {
	color: #a4a4a4;
}

.right {
	animation-name: right;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	font-size: 1.75em;
	color: #ba324f;
}

@keyframes right {
	0% {
		transform: translateX(10px);
	}

	50% {
		transform: translateX(16px);
	}

	100% {
		transform: translateX(10px);
	}
}

.image {
	width: 33.33%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.imgbox {
	width: 300px;
	height: 300px;
	position: relative;
}

.animation {
	width: 100%;
	height: 100%;
	position: absolute;
	border-radius: 50%;
	animation-name: spin;
	animation-duration: 3s;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
	background-color: #373f51;
}

@keyframes spin {
	0% {
		transform: scale(.5);
		opacity: 1;
	}

	100% {
		opacity: 0;
		transform: scale(1.2);
	}
}

.animation-img {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	background-image: url("img.jpg");
	background-size: contain;
	border-radius: 50%;
	box-shadow: 0px 0px 50px 10px #c5d1eb;
}

footer {
	display: flex;
	flex-wrap: wrap;
}

.mail, .follow {
	width: 50%;
}

.mail {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 15em;
}

.mail-container {
	width: 50%;
	text-align: center;
}

.mail-container h1 {
	font-size: 2.5rem;
	font-family: 'Bellefair';
}

.mail-container a {
	font-size: 1.25em;
	font-family: 'Montserrat';
	text-decoration: none;
	color: #ba324f;
}

.mail-container a:hover {
	text-decoration: underline;
}

.follow {
	display: flex;
	justify-content: center;
	align-items: center;
}

.follow h1 {
	font-size: 2.5rem;
	font-family: 'Bellefair';
}

.follow ul {	
}

.follow li {
	display: inline-block;
	width: 2em;
	height: 2em;
	border: 1px solid #a4a4a4;
	border-radius: 50%;
	text-align: center;
	line-height: 2em;
	color: #a4a4a4;
	font-family: 'Montserrat';
	transition: all .09s ease-in;
}

.follow a {
	text-decoration: none;
	font-size: 1.5em;
	padding: 0 20px;
}

#fb li:hover {
	border: 1px solid #3b5998;
  	background-color: #3b5998; 
  	color: #ffffff;
  	transform: translateY(-5px);
}

#gmail li:hover {
  	border: 1px solid #db4437;
  	background-color: #db4437;
  	color: #ffffff;
  	transform: translateY(-5px);
}

#twitter li:hover {
  	border: 1px solid #1da1f2;
  	background-color: #1da1f2;
  	color: #ffffff;
  	transform: translateY(-5px);
}